{% extends 'movies_pages/base.html' %}

{% block content %}
 <div class="container mt-5">
    <h1 class="text-center mb-4">Movies Registered</h1>
    <p class="text-center mb-4">See all movies registered below</p>
    <ul class="list-group">
        {% for movie in movies %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'movie-information' movie.id %}"> {{movie.title}}</a>
          </li>
        {% empty %}
          <li class="list-group-item text-center text-muted">
            No movies have been registered yet.
          </li>
        {% endfor %}
    </ul>
  </div>
{% endblock content %}
